body {
    background-color:rgb(41, 235, 41);
}

h1 {
    text-align: center;
    
}

h2 {
    text-align: center;
}

P {
    text-align: center;
    font-family: Apple Chancery, cursive;
}

.NewWorld {
    text-align: left;
    font-family: Apple Chancery, cursive;
}

img {
    max-height: 300px;
    max-width: 300px;
}

.Tarkov {
    text-align: left;
    font-family: Apple Chancery, cursive;
}

.Forhonor {
    text-align: left;
    font-family: Apple Chancery, cursive;
}